<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdt.modular.base.mapper.WarehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tdt.modular.base.entity.Warehouse">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="alias" property="alias" />
        <result column="address" property="address" />
        <result column="remark" property="remark" />
        <result column="createid" property="createid" />
        <result column="creator" property="creator" />
        <result column="createtime" property="createtime" />
        <result column="updateid" property="updateid" />
        <result column="updator" property="updator" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", name AS "name", alias AS "alias", address AS "address", remark AS "remark", createid AS "createid", creator AS "creator", createtime AS "createtime", updateid AS "updateid", updator AS "updator", updatetime AS "updatetime"
    </sql>


    <select id="customList" resultType="com.tdt.modular.base.model.result.WarehouseResult" parameterType="com.tdt.modular.base.model.params.WarehouseParam">
        select
        <include refid="Base_Column_List"/>
        from b_warehouse where 1 = 1
    </select>

    <select id="customMapList" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from b_warehouse where 1 = 1
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT ('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.alias != null and paramCondition.alias != ''">
            and alias like CONCAT ('%',#{paramCondition.alias},'%')
        </if>
    </select>

    <select id="customPageList" resultType="com.tdt.modular.base.model.result.WarehouseResult" parameterType="com.tdt.modular.base.model.params.WarehouseParam">
        select
        <include refid="Base_Column_List"/>
        from b_warehouse where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="com.tdt.modular.base.model.params.WarehouseParam">
        select
        <include refid="Base_Column_List"/>
        from b_warehouse where 1 = 1
        <if test="paramCondition.name != null and paramCondition.name != ''">
            and name like CONCAT ('%',#{paramCondition.name},'%')
        </if>
        <if test="paramCondition.alias != null and paramCondition.alias != ''">
            and alias like CONCAT ('%',#{paramCondition.alias},'%')
        </if>
    </select>

    <select id="getByName" resultType="com.tdt.modular.base.entity.Warehouse">
        select
        <include refid="Base_Column_List"/>
        from b_warehouse where warehousename = #{warehousename}
    </select>

    <select id="warehouseTreeListByDeptId" resultType="com.tdt.modular.base.entity.Warehouse">
        select
        <include refid="Base_Column_List"/>
        from b_warehouse where id in (select warehouse_id from sys_belong where dept_id=#{deptId})
    </select>
</mapper>
