<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdt.modular.instorage.mapper.PurchaseDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tdt.modular.instorage.entity.PurchaseDetail">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="commodityid" property="commodityid" />
        <result column="commoditybar" property="commoditybar" />
        <result column="commodityname" property="commodityname" />
        <result column="qty" property="qty" />
        <result column="createid" property="createid" />
        <result column="creator" property="creator" />
        <result column="createtime" property="createtime" />
        <result column="updateid" property="updateid" />
        <result column="updator" property="updator" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", pid AS "pid", commodityid AS "commodityid", commoditybar AS "commoditybar", commodityname AS "commodityname", qty AS "qty", createid AS "createid", creator AS "creator", createtime AS "createtime", updateid AS "updateid", updator AS "updator", updatetime AS "updatetime"
    </sql>


    <select id="customList" resultType="com.tdt.modular.instorage.model.result.PurchaseDetailResult" parameterType="com.tdt.modular.instorage.model.params.PurchaseDetailParam">
        select
        <include refid="Base_Column_List"/>
        from i_purchase_detail where 1 = 1
    </select>

    <select id="customMapList" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from i_purchase_detail where pid = #{paramCondition.pid}
    </select>

    <select id="selectByPid" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from i_purchase_detail where pid = #{pid}
    </select>

    <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from i_purchase_detail where 1 = 1 and pid = #{paramCondition.pid}
    </select>

    <select id="customPageList" resultType="com.tdt.modular.instorage.model.result.PurchaseDetailResult" parameterType="com.tdt.modular.instorage.model.params.PurchaseDetailParam">
        select
        <include refid="Base_Column_List"/>
        from i_purchase_detail where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="com.tdt.modular.instorage.model.params.PurchaseDetailParam">
        select
        <include refid="Base_Column_List"/>
        from i_purchase_detail where 1 = 1
    </select>

</mapper>
