<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdt.modular.instorage.mapper.WarehousingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tdt.modular.instorage.entity.Warehousing">
        <id column="id" property="id" />
        <result column="warehousingno" property="warehousingno" />
        <result column="locatorid" property="locatorid" />
        <result column="locatorcode" property="locatorcode" />
        <result column="locatorname" property="locatorname" />
        <result column="receiveno" property="receiveno" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
        <result column="warehouseid" property="warehouseid" />
        <result column="createid" property="createid" />
        <result column="creator" property="creator" />
        <result column="createtime" property="createtime" />
        <result column="updateid" property="updateid" />
        <result column="updator" property="updator" />
        <result column="updatetime" property="updatetime" />
        <result column="auditid" property="auditid" />
        <result column="auditor" property="auditor" />
        <result column="audittime" property="audittime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", warehousingno AS "warehousingno", locatorid AS "locatorid", locatorcode AS "locatorcode", locatorname AS "locatorname", receiveno AS "receiveno", state AS "state", remark AS "remark", warehouseid AS "warehouseid", createid AS "createid", creator AS "creator", createtime AS "createtime", updateid AS "updateid", updator AS "updator", updatetime AS "updatetime", auditid AS "auditid", auditor AS "auditor", audittime AS "audittime"
    </sql>


    <select id="customList" resultType="com.tdt.modular.instorage.model.result.WarehousingResult" parameterType="com.tdt.modular.instorage.model.params.WarehousingParam">
        select
        <include refid="Base_Column_List"/>
        from i_warehousing where 1 = 1
    </select>

    <select id="customMapList" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from i_warehousing where 1 = 1 and warehouseid = #{paramCondition.warehouseid}
        <if test="paramCondition.warehousingno != null and paramCondition.warehousingno != ''">
            and warehousingno like CONCAT ('%',#{paramCondition.warehousingno},'%')
        </if>
        <if test="paramCondition.receiveno != null and paramCondition.receiveno != ''">
            and receiveno like CONCAT ('%',#{paramCondition.receiveno},'%')
        </if>
        <if test="paramCondition.state != null and paramCondition.state != ''">
            and state = #{state}
        </if>
    </select>

    <select id="customPageList" resultType="com.tdt.modular.instorage.model.result.WarehousingResult" parameterType="com.tdt.modular.instorage.model.params.WarehousingParam">
        select
        <include refid="Base_Column_List"/>
        from i_warehousing where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="com.tdt.modular.instorage.model.params.WarehousingParam">
        select
        <include refid="Base_Column_List"/>
        from i_warehousing where 1 = 1
    </select>

    <delete id="deleteAll">
        DELETE i_warehousing,i_warehousing_detail FROM i_warehousing LEFT JOIN i_warehousing_detail on i_warehousing.id = i_warehousing_detail.pid
        WHERE i_warehousing.id = #{id}
    </delete>
</mapper>
