<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdt.modular.storage.mapper.AllocationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tdt.modular.storage.entity.Allocation">
        <id column="id" property="id" />
        <result column="allocationno" property="allocationno" />
        <result column="bwarehouseid" property="bwarehouseid" />
        <result column="bwarehousename" property="bwarehousename" />
        <result column="awarehouseid" property="awarehouseid" />
        <result column="awarehousename" property="awarehousename" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
        <result column="createid" property="createid" />
        <result column="creator" property="creator" />
        <result column="createtime" property="createtime" />
        <result column="updateid" property="updateid" />
        <result column="updator" property="updator" />
        <result column="updatetime" property="updatetime" />
        <result column="auditid" property="auditid" />
        <result column="auditor" property="auditor" />
        <result column="audittime" property="audittime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", allocationno AS "allocationno", bwarehouseid AS "bwarehouseid", bwarehousename AS "bwarehousename", awarehouseid AS "awarehouseid", awarehousename AS "awarehousename", state AS "state", remark AS "remark", createid AS "createid", creator AS "creator", createtime AS "createtime", updateid AS "updateid", updator AS "updator", updatetime AS "updatetime", auditid AS "auditid", auditor AS "auditor", audittime AS "audittime"
    </sql>


    <select id="customList" resultType="com.tdt.modular.storage.model.result.AllocationResult" parameterType="com.tdt.modular.storage.model.params.AllocationParam">
        select
        <include refid="Base_Column_List"/>
        from s_allocation where 1 = 1
            <if test="paramCondition.allocationno != null and paramCondition.allocationno != ''">
                and allocationno like CONCAT('%',#{paramCondition.allocationno},'%')
            </if>
            <if test="paramCondition.state != null and paramCondition.state != ''">
                and state = #{state}
            </if>
    </select>

    <select id="customMapList" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from s_allocation where 1 = 1
            <if test="paramCondition.allocationno != null and paramCondition.allocationno != ''">
                and allocationno like CONCAT('%',#{paramCondition.allocationno},'%')
            </if>
            <if test="paramCondition.state != null and paramCondition.state != ''">
                and state = #{paramCondition.state}
            </if>
                and bwarehouseid = #{warehouseid} or awarehouseid = #{warehouseid}
    </select>

    <select id="customPageList" resultType="com.tdt.modular.storage.model.result.AllocationResult" parameterType="com.tdt.modular.storage.model.params.AllocationParam">
        select
        <include refid="Base_Column_List"/>
        from s_allocation where 1 = 1
            <if test="paramCondition.allocationno != null and paramCondition.allocationno != ''">
                and allocationno like CONCAT('%',#{paramCondition.allocationno},'%')
            </if>
            <if test="paramCondition.state != null and paramCondition.state != ''">
                and state like CONCAT('%',#{paramCondition.state},'%')
            </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="com.tdt.modular.storage.model.params.AllocationParam">
        select
        <include refid="Base_Column_List"/>
        from s_allocation where 1 = 1
            <if test="paramCondition.allocationno != null and paramCondition.allocationno != ''">
                and allocationno like CONCAT('%',#{paramCondition.allocationno},'%')
            </if>
            <if test="paramCondition.state != null and paramCondition.state != ''">
                and state like CONCAT('%',#{paramCondition.state},'%')
            </if>
    </select>

    <delete id="deleteAll">
        DELETE s_allocation,s_allocation_detail FROM s_allocation LEFT JOIN s_allocation_detail on s_allocation.id = s_allocation_detail.pid
        WHERE s_allocation.id = #{id}
    </delete>

</mapper>
