<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdt.modular.repertory.mapper.StockLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tdt.modular.repertory.entity.StockLog">
        <id column="id" property="id" />
        <result column="billno" property="billno" />
        <result column="warehouseid" property="warehouseid" />
        <result column="locatorid" property="locatorid" />
        <result column="locatorcode" property="locatorcode" />
        <result column="locatorname" property="locatorname" />
        <result column="commodityid" property="commodityid" />
        <result column="commoditybar" property="commoditybar" />
        <result column="commodityname" property="commodityname" />
        <result column="qty" property="qty" />
        <result column="state" property="state" />
        <result column="type" property="type" />
        <result column="createid" property="createid" />
        <result column="creator" property="creator" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", billno AS "billno", warehouseid AS "warehouseid", locatorid AS "locatorid", locatorcode AS "locatorcode", locatorname AS "locatorname", commodityid AS "commodityid", commoditybar AS "commoditybar", commodityname AS "commodityname", qty AS "qty", state AS "state", type AS "type", createid AS "createid", creator AS "creator", createtime AS "createtime"
    </sql>


    <select id="customList" resultType="com.tdt.modular.repertory.model.result.StockLogResult" parameterType="com.tdt.modular.repertory.model.params.StockLogParam">
        select
        <include refid="Base_Column_List"/>
        from b_stock_log where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="com.tdt.modular.repertory.model.params.StockLogParam">
        select
        <include refid="Base_Column_List"/>
        from b_stock_log where 1 = 1
    </select>

    <select id="customPageList" resultType="com.tdt.modular.repertory.model.result.StockLogResult" parameterType="com.tdt.modular.repertory.model.params.StockLogParam">
        select
        <include refid="Base_Column_List"/>
        from b_stock_log where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="com.tdt.modular.repertory.model.params.StockLogParam">
        select
        <include refid="Base_Column_List"/>
        from b_stock_log where 1 = 1
    </select>

    <select id="selectListByBillno" resultType="com.tdt.modular.repertory.entity.StockLog">
        SELECT * FROM b_stock_log WHERE billno = #{billno} And state = #{state} And type = #{type} ORDER BY commoditybar
    </select>

</mapper>
